
@{
    ViewBag.Title = "Menu";
}

<div class="list-group">
    <a href="@Url.Action("Create")" class="list-group-item">اضافه کردن سوییت</a>
    <a href="@Url.Action("Index")" class="list-group-item">لیست سویت ها</a>
</div>

